<h1>トップ</h1>
<div class="col-md-8 mx-auto ">
    　       <div class="introduction">
				<div class="introduction-text">
					<span>ようこそ、NaganoCakeへ！</span><br>
					<span>このサイトは、ケーキ販売のECサイトになります。</span><br>
					<span>会員でない方も商品の閲覧はできますが、</span><br>
					<span>購入には会員登録が必要です</span>
				</div>
			</div>	
</div>			
<style>
	.introduction{
	width:400px;
	height:400px;
    margin: 0 auto;
     }
    
    .introduction-text{
    background-color: white;
    margin:50px;
    }
    
</style>